backend/node_modules
backend/dist
backend/.env
backend/.wrangler
backend/wrangler.toml
backend/.dev.vars

# Change them to your taste:
backend/yarn.lock
backend/package-lock.json
backend/pnpm-lock.yaml
backend/bun.lockb